/* -- Global Selector -- */
body
{
    margin: 0;
}

h1
{
    margin: 0px;
}

/* -- Class Selector -- */
.top-container
{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    left: 400px;
}

.mid-container
{
    background-color: red;
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    right: 200px;
}

.bottom-container
{
    background-color: blue;
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    right: 200px;
}