/* -- Global Selector -- */
body
{
    margin: 0;
    text-align: center;
}

h1
{
    margin: 0px;
}

/* -- Class Selector -- */
.top-container
{
    background-color: aquamarine;
    position: relative;
    padding-top: 100px;
}

.mid-container
{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.bottom-container
{
    background-color: yellow;
    height: 200px;
    width: 200px;
}

.top-cloud
{
    position: absolute;
    top: 40px;
    right: 650px;
}

.bottom-cloud
{
    position: absolute;
    left: 600px;
    bottom: 300px;
}
